
*.pkl
# ======================
# Python cache
# ======================
__pycache__/
*.pyc

# ======================
# Training outputs (checkpoints)
# ======================
runs/
*chkpt/
*.ckpt
*.pt
*.pth
*.safetensors

# ======================
# Large datasets
# ======================
*_rlds/
modified_libero_rlds/

# ======================
# Logs
# ======================
wandb/
*.log
